@font-face {
    font-family: 'Motley'; 
    src: url('../MotleyForcesRegular-w1rZ3.ttf');
  }
  
  @font-face {
    font-family: 'Pilkius'; 
    src: url('../PilkiusRomeus-YwDL.ttf');
  }
  
  
  @font-face {
    font-family: 'Thin'; 
    src: url('../ThinIq-m705.ttf');
  }

  a {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    color: hotpink;
    text-decoration: underline;
  }
  

  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Thin', Arial, Helvetica, sans-serif;
  }
  
  h1,
  h2,
  h3 {
    font-family: 'Pilkius';
  }


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 images per row */

    width: 90vw;
  }
  
  .grid img {
    width: 150px; /* Adjust size as needed */
    height: 150px;
    object-fit: cover;
  }

  .main-title-box {
    width: 100%;
    text-align: center;
    padding: 30px;
  }

  .hidden-message {
    margin-bottom: 200 px;

  }

  .main-link-box {
    position: fixed; /* Sticks to the screen, even when scrolling */
    bottom: 20px; /* Distance from the bottom edge of the screen */
    right: 200px; /* Distance from the right edge of the screen */
    z-index: 100; /* Ensures it stays above other elements if overlapping */
    font-size: 50px;
  }

  .bigimg {
    width: 200px; /* Adjust size as needed */
    height: 200px;
  }

  .bigimg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;  
}

.image-container {
    display: flex; /* Enable flexbox */
    justify-content: space-between; /* Evenly distribute space between images */
    align-items: center; /* Vertically align images */
    width: 100%; /* Adjust the width of the container as needed */
    padding: 10px; /* Add some padding if needed */
    margin: 20px;
  }
  
  .image-container img {
    width: 250px; /* Adjust the size of images */
    height: auto; /* Keep the aspect ratio */
  }