@font-face {
  font-family: 'Motley';
  src: url('../assets/fonts/MotleyForcesRegular-w1rZ3.ttf');
}

@font-face {
  font-family: 'Pilkius';
  src: url('../assets/fonts/PilkiusRomeus-YwDL.ttf');
}

@font-face {
  font-family: 'Thin';
  src: url('../assets/fonts/ThinIq-m705.ttf');
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: 'Pilkius';
}

body {
  font-family: 'Thin', Arial, Helvetica, sans-serif;
}

.art-installation {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f8f9fa;
}

canvas {
  display: block;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: hotpink;
  text-decoration: underline;
}

.landing-page-container {
  /* background-color: bisque; */

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page-title-container {
  /* background-color: cornflowerblue; */
  width: 500px;
  text-align: center;
}

.landing-page-title-box {
  /* background-color: aquamarine; */
  font-size: 30px;
  padding: 0px 0;

}

.landing-page-link-box {
  /* background-color: coral; */
  padding: 20px 0;
}

.landing-page-link-box a {
  /* background-color: coral; */
  padding: 20px 0;
  margin-left: 20px;
}

.main-container {
  width: 800px;
  margin: 0 auto;
  padding: 100px 50px;
}

.bear-container {
  width: 800px;
  margin: 0 auto;
  padding: 100px 50px;
}

.main-title-box {
  /* width: 100%; */
  /* text-align: center; */
  /* margin-bottom: 30px; */
}

.main-title-box {
  width: 100%;
  text-align: center;
  padding: 30px;
}

.main-description-box {
  width: 100%;
  margin: 30px 0;
}

.main-link-box {
  position: fixed;
  /* Sticks to the screen, even when scrolling */
  bottom: 30px;
  /* Distance from the bottom edge of the screen */
  right: 5vw;
  /* Distance from the right edge of the screen */
  z-index: 100;
  /* Ensures it stays above other elements if overlapping */
  font-size: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* 10 images per row */

  width: 100%;
}

.grid img {
  width: 150px;
  /* Adjust size as needed */
  height: 150px;
  object-fit: cover;
}

.hidden-message {
  margin-bottom: 200 px;
}

.bigimg {
  width: 200px;
  /* Adjust size as needed */
  height: 200px;
}

.bigimg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.post-container {
  width: 900px;
  margin: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.post {
  background-color: brown;
  width: 270px;
  height: 270px;
  /* margin: 20px; */

  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#post-01 {
  background-image: url("../assets/post-01.png");
}

#post-01:hover {
  background-image: url("../assets/post-01-hover.png");
}

#post-02 {
  background-image: url("../assets/post-01.png");
}

#post-02:hover {
  background-image: url("../assets/post-01-hover.png");
}

#post-03 {
  background-image: url("../assets/post-01.png");
}

#post-03:hover {
  background-image: url("../assets/post-01-hover.png");
}